page-tab1 {
    p {
        text-indent: 1em;
        text-align: justify;
    }
    .news {
        .item-md h2, h3{
        // font-size: .8em;
        color: $primary;
        line-height: .8;
    }   
        h3 {
            font-size: .7em;
            padding-top: 0;
        }

}
  

    ion-card, .card-md {
        max-width: 420px;
        margin: 16px auto;
    }
}
        .item-md ion-avatar img {
            border-radius: 0;
        } 
